.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

[class^="icon-"],
[class*=" icon-"] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg {
  max-height: 100%;
  max-width: 100%;
}

svg[class^="icon-"],
svg[class*=" icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.pagination-icon {
  width: 5px;
  height: 5px;
  margin-top: 4px;
  margin-left: 5px;
  margin-right: 18px;
  color: #7d7d7d;
}

.fas {
color: #24b6e2;
}

.social {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 8px;
  background: #b8b8b8;
  color: #fff;
  font-size: 11px;
  border-radius: 50%;
}

.social:hover {
  color: #fff;
  background: #23b5e1;
}
