:root{
  --table-border-spacing: 0;
  --table-background-color: #fff;
  --table-color: #363636;
  --table-text-align: left;
  --table-cell-text-align: left;
  --table-cell-border: 1px solid #dbdbdb;
  --table-cell-border-width: 0 0 1px;
  --table-cell-vertical-align: top;
  --table-thead-cell-border-width: 0 0 2px;
  --table-tfoot-cell-border-width: 2px 0 0;
}
table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: var(--table-border-spacing);
  margin-bottom: 20px;
}

*+table {
  margin-top: 20px
}

table {
  background-color: var(--table-background-color);
  color: var(--table-color);
}

table caption {
  text-align: var(--table-text-align);
}

table td,
table th {
  text-align: var(--table-cell-text-align);
  border: var(--table-cell-border);
  border-width: var(--table-cell-border-width);
  padding: .5em .75em;
  vertical-align: var(--table-cell-vertical-align);
}

table thead td,
table thead th {
  border-width: var(--table-thead-cell-border-width);
}

table tfoot td,
table tfoot th {
  border-width: var(--table-tfoot-cell-border-width);
}